Task5/Chclient/Chclient/Web References/localhost/TableServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://endpoint.service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TableServiceService" targetNamespace="http://endpoint.service/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/wserver/TableService?xsd=1" namespace="http://endpoint.service/" />
    </xsd:schema>
  </types>
  <message name="getNumber">
    <part name="parameters" element="tns:getNumber" />
  </message>
  <message name="getNumberResponse">
    <part name="parameters" element="tns:getNumberResponse" />
  </message>
  <message name="getAllTovar">
    <part name="parameters" element="tns:getAllTovar" />
  </message>
  <message name="getAllTovarResponse">
    <part name="parameters" element="tns:getAllTovarResponse" />
  </message>
  <message name="delDogovor">
    <part name="parameters" element="tns:delDogovor" />
  </message>
  <message name="delDogovorResponse">
    <part name="parameters" element="tns:delDogovorResponse" />
  </message>
  <message name="setNewDogovor">
    <part name="parameters" element="tns:setNewDogovor" />
  </message>
  <message name="setNewDogovorResponse">
    <part name="parameters" element="tns:setNewDogovorResponse" />
  </message>
  <portType name="TableService">
    <operation name="getNumber">
      <input wsam:Action="http://endpoint.service/TableService/getNumberRequest" message="tns:getNumber" />
      <output wsam:Action="http://endpoint.service/TableService/getNumberResponse" message="tns:getNumberResponse" />
    </operation>
    <operation name="getAllTovar">
      <input wsam:Action="http://endpoint.service/TableService/getAllTovarRequest" message="tns:getAllTovar" />
      <output wsam:Action="http://endpoint.service/TableService/getAllTovarResponse" message="tns:getAllTovarResponse" />
    </operation>
    <operation name="delDogovor">
      <input wsam:Action="http://endpoint.service/TableService/delDogovorRequest" message="tns:delDogovor" />
      <output wsam:Action="http://endpoint.service/TableService/delDogovorResponse" message="tns:delDogovorResponse" />
    </operation>
    <operation name="setNewDogovor">
      <input wsam:Action="http://endpoint.service/TableService/setNewDogovorRequest" message="tns:setNewDogovor" />
      <output wsam:Action="http://endpoint.service/TableService/setNewDogovorResponse" message="tns:setNewDogovorResponse" />
    </operation>
  </portType>
  <binding name="TableServicePortBinding" type="tns:TableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getNumber">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllTovar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delDogovor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setNewDogovor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TableServiceService">
    <port name="TableServicePort" binding="tns:TableServicePortBinding">
      <soap:address location="http://localhost:8080/wserver/TableService" />
    </port>
  </service>
</definitions>